{"swagger":"2.0","info":{"title":"Postcodes","description":"API for api.postcodes.io","version":"0.0.0"},"host":"api.postcodes.io","schemes":["https"],"paths":{"/postcodes/{postcode}":{"get":{"tags":["Postcodes"],"summary":"Gets details for a postcode","description":"Get postcode details","operationId":"GetPostcodeDetails","produces":["application/json"],"parameters":[{"name":"postcode","in":"path","description":"Postcode","required":true,"type":"string","x-example":""}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/GetPostcodeDetails"},"examples":{"application/json":{"status":200,"result":{"postcode":"NP4 0XS","quality":1,"eastings":330762,"northings":202779,"country":"Wales","nhs_ha":"Aneurin Bevan University Health Board","longitude":-3.003686,"latitude":51.719444,"european_electoral_region":"Wales","primary_care_trust":"Aneurin Bevan University Health Board","region":null,"lsoa":"Torfaen 005D","msoa":"Torfaen 005","incode":"0XS","outcode":"NP4","parliamentary_constituency":"Torfaen","admin_district":"Torfaen","parish":"New Inn","admin_county":null,"admin_ward":"New Inn","ced":null,"ccg":"Aneurin Bevan University Health Board","nuts":"Gwent Valleys","codes":{"admin_district":"W06000020","admin_county":"W99999999","admin_ward":"W05000997","parish":"W04000984","parliamentary_constituency":"W07000053","ccg":"W11000028","ccg_id":"7A6","ced":"W99999999","nuts":"UKL16"}}}}}},"security":[]}},"/postcodes/{postcode}/validate":{"get":{"tags":["Postcodes"],"summary":"Validate a postcode","description":"Validate postcode","operationId":"ValidatePostcode","produces":["application/json"],"parameters":[{"name":"postcode","in":"path","description":"Postcode","required":true,"type":"string","x-example":""}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ValidatePostcode"},"examples":{"application/json":{"status":200,"result":true}}}},"security":[]}}},"definitions":{"ValidatePostcode":{"description":"Model for ValidatePostcode","required":["result"],"properties":{"result":{"type":"boolean","x-example":"true"},"status":{"type":"integer","format":"int32","x-example":"200"}}},"GetPostcodeDetails":{"description":"Model for GetPostcodeDetails","required":["result"],"properties":{"result":{"$ref":"#/definitions/Result","x-example":"{\n  \"postcode\": \"NP4 0XS\",\n  \"quality\": 1,\n  \"eastings\": 330762,\n  \"northings\": 202779,\n  \"country\": \"Wales\",\n  \"nhs_ha\": \"Aneurin Bevan University Health Board\",\n  \"longitude\": -3.003686,\n  \"latitude\": 51.719444,\n  \"european_electoral_region\": \"Wales\",\n  \"primary_care_trust\": \"Aneurin Bevan University Health Board\",\n  \"region\": null,\n  \"lsoa\": \"Torfaen 005D\",\n  \"msoa\": \"Torfaen 005\",\n  \"incode\": \"0XS\",\n  \"outcode\": \"NP4\",\n  \"parliamentary_constituency\": \"Torfaen\",\n  \"admin_district\": \"Torfaen\",\n  \"parish\": \"New Inn\",\n  \"admin_county\": null,\n  \"admin_ward\": \"New Inn\",\n  \"ced\": null,\n  \"ccg\": \"Aneurin Bevan University Health Board\",\n  \"nuts\": \"Gwent Valleys\",\n  \"codes\": {\n    \"admin_district\": \"W06000020\",\n    \"admin_county\": \"W99999999\",\n    \"admin_ward\": \"W05000997\",\n    \"parish\": \"W04000984\",\n    \"parliamentary_constituency\": \"W07000053\",\n    \"ccg\": \"W11000028\",\n    \"ccg_id\": \"7A6\",\n    \"ced\": \"W99999999\",\n    \"nuts\": \"UKL16\"\n  }\n}"},"status":{"type":"integer","format":"int32","x-example":"200"}}},"Result":{"description":"Model for Result","required":["admin_county"],"properties":{"admin_county":{"type":"string","x-example":""},"admin_district":{"type":"string","x-example":"Torfaen"},"admin_ward":{"type":"string","x-example":"New Inn"},"ccg":{"type":"string","x-example":"Aneurin Bevan University Health Board"},"ced":{"type":"string","x-example":""},"codes":{"$ref":"#/definitions/Codes","x-example":"{\n  \"admin_district\": \"W06000020\",\n  \"admin_county\": \"W99999999\",\n  \"admin_ward\": \"W05000997\",\n  \"parish\": \"W04000984\",\n  \"parliamentary_constituency\": \"W07000053\",\n  \"ccg\": \"W11000028\",\n  \"ccg_id\": \"7A6\",\n  \"ced\": \"W99999999\",\n  \"nuts\": \"UKL16\"\n}"},"country":{"type":"string","x-example":"Wales"},"eastings":{"type":"integer","format":"int32","x-example":"330762"},"european_electoral_region":{"type":"string","x-example":"Wales"},"incode":{"type":"string","x-example":"0XS"},"latitude":{"type":"number","format":"float","x-example":"51.719444"},"longitude":{"type":"number","format":"float","x-example":"-3.003686"},"lsoa":{"type":"string","x-example":"Torfaen 005D"},"msoa":{"type":"string","x-example":"Torfaen 005"},"nhs_ha":{"type":"string","x-example":"Aneurin Bevan University Health Board"},"northings":{"type":"integer","format":"int32","x-example":"202779"},"nuts":{"type":"string","x-example":"Gwent Valleys"},"outcode":{"type":"string","x-example":"NP4"},"parish":{"type":"string","x-example":"New Inn"},"parliamentary_constituency":{"type":"string","x-example":"Torfaen"},"postcode":{"type":"string","x-example":"NP4 0XS"},"primary_care_trust":{"type":"string","x-example":"Aneurin Bevan University Health Board"},"quality":{"type":"integer","format":"int32","x-example":"1"},"region":{"type":"string","x-example":""}}},"Codes":{"description":"Model for Codes","required":["admin_county"],"properties":{"admin_county":{"type":"string","x-example":"W99999999"},"admin_district":{"type":"string","x-example":"W06000020"},"admin_ward":{"type":"string","x-example":"W05000997"},"ccg":{"type":"string","x-example":"W11000028"},"ccg_id":{"type":"string","x-example":"7A6"},"ced":{"type":"string","x-example":"W99999999"},"nuts":{"type":"string","x-example":"UKL16"},"parish":{"type":"string","x-example":"W04000984"},"parliamentary_constituency":{"type":"string","x-example":"W07000053"}}}},"securityDefinitions":{},"security":[],"tags":[{"name":"Postcodes","description":"Operations about Postcodes"}]}
